# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
/*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf
bin/
*/*.sln
*.vcxproj
*/*/bin/
*/Debug/
*/DebugRelease/
*/Release/
*/bin/
*/.vs/
*/*/obj/
*/obj/
*.cd